{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>

    <header>
        <div class="nav-left">
            <h1><a href="{% url 'home' %}">Blog Post</h1>
        </div>
        
        <div class="nav-right">
            <a href="{% url 'post_new' %}">+yangi post qo'shish</a>
        </div>
    </header>

    {% if user.is_authenticated %}
    <p>{{ user.username }}, saytga xush kelibsiz</p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
    <p>Siz saytga kirmagansiz</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>

    {% endif %}


    <div>
        {% block content %}{% endblock content %}
    </div>

</body>
</html>